* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   font-family: cartograph cf;
}

.quiz {
   background-color: dodgerblue;
   padding: 30px;
}

.heading {
   margin: 10px auto 40px auto;
}

.heading .title {
   font-size: 4rem;
   color: white;
   font-weight: 500;
   text-align: center;
}

.heading .subtitle {
   font-size: 2.5rem;
   color: white;
   font-weight: 300;
   text-align: center;
}

.result {
   text-align: center;
   min-width: 350px;
   max-width: 400px;
   margin: 20px auto;
   border-radius: 5px;
   font-size: 2rem;
   background-color: white;
}

.result p:first-child {
   padding: 10px 20px;
}

.hide {
   display: none;
}

.reload button {
   background-color: #04aa60;
   color: white;
   padding: 10px 20px;
   border-radius: 0 0 5px 5px;
   width: 100%;
   border: none;
   font-size: 2rem;
   transition: background-color .5s;
}

.reload button:hover {
   background-color: #008b4c;
   cursor: pointer;
}

.quiz-form {
   max-width: 1000px;
   margin: auto;
}

.question {
   background-color: white;
   padding: 20px 40px;
   border-radius: 5px;
   margin: 40px auto;
}

.question > * {
   font-size: 1.8rem;
}

.option {
   margin-left: 15px;
}

.correct {
   background-color: #04aa60;
}

.wrong {
   background-color: rgb(219, 92, 92);
}

.submit input {
   color: white;
   background-color: #008b4c;
   font-size: 2.2rem;
   border-radius: 5px;
   border: none;
   padding: 5px 25px;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}

